<div class="courses-container">
    <nav class="navbar">
        <div class="nav-left">
            <img src="logo.png" alt="Logo" class="logo">
              <ul class="nav-links">
               <li><a routerLink="/student-home">Inicio</a></li>
               <li><a routerLink="/cursos" class="active">Cursos</a></li>
              </ul>
        </div>
        <div class="nav-right">
        <button class="logout-btn" (click)="logout()">Log out 🚪</button>
        <img src="monito.png" alt="Mascot" class="nav-mascot">
        </div>
    </nav>

    <main class="main-content">
        <div class="search-bar-container"
            style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 2rem;">
            <div class="search-input-wrapper">
                <span class="search-icon">🔍</span>
                <input type="text" placeholder="Busca un curso" [(ngModel)]="textoBusqueda">
            </div>

        </div>

        <div class="layout-grid">
            <aside class="sidebar">
                <div class="filter-group">
                    <h3>Nivel</h3>
                    <label *ngFor="let nivel of niveles">
                        <input type="checkbox" [checked]="nivelesSeleccionados.has(nivel)" (change)="toggleNivel(nivel)"> {{ nivel }}
                    </label>
                </div>

                <div class="filter-group">
                    <h3>Etiqueta</h3>
                    <label *ngFor="let etiqueta of etiquetas">
                        <input type="checkbox" [checked]="etiquetasSeleccionadas.has(etiqueta)" (change)="toggleEtiqueta(etiqueta)"> {{ etiqueta }}
                    </label>
                </div>
            </aside>

            <section class="courses-grid">
                <div class="course-card" *ngFor="let curso of cursosFiltrados" (click)="gestionarCurso(curso.id_curso)"
                    style="cursor: pointer;">
                    <div class="card-image-container">
                        <img src="assets/curso1.jpg" alt="Course Image" class="course-img">
                        <img src="logo-blanco.jpg" alt="Badge" class="card-badge">
                    </div>
                    <div class="card-body">
                        <span class="level-badge">{{ displayNivel(curso) }}</span>
                        <h4>{{ curso.titulo }}</h4>
                        <div class="course-stats">
                            <span>📄 Lecciones</span>
                            <span>🕒 {{ curso.es_gratuito ? 'Gratis' : '$' + curso.precio }}</span>
                        </div>
                        <a class="start-link" *ngIf="!isStudent">Gestionar Curso ⚙️</a>
                        <a class="start-link" *ngIf="isStudent && estaInscrito(curso.id_curso)">Acceder al contenido 📖</a>
                        <a class="start-link" *ngIf="isStudent && !estaInscrito(curso.id_curso)">Inscribirse 🚀</a>
                    </div>
                </div>
            </section>
        </div>
    </main>
</div>